@{
    ViewData["Title"] = "Home Page";
}

<form action="/search" method="get">
    <input type="text" name="query" value=""/>
    <button type="submit">найти</button>
</form>

@* https://docs.microsoft.com/aspnet/core *@
<div class="text-center">
<h1 class="display-4">Welcome</h1>
<p>leart about ....</p>
</div>
